APP_NAME="Mobile Store"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost/project/backend/public

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mobile_store
DB_USERNAME=root
DB_PASSWORD=

SANCTUM_STATEFUL_DOMAINS=localhost
SESSION_DRIVER=file

FILESYSTEM_DISK=public
